*{
  font-family: 'Press Start 2P', cursive;
}

body{
    margin: 0;
    color:white;
    background-color: black;
}

#item {
  text-align: center;
}

#item table{
  width: 170px;
  height: auto;
  margin: auto;
  border-collapse: collapse;
  color: white;
  margin-top: 30px;
}

#item th, td{
  border: 1px solid white;
}

#item #refresh{
  margin-top: 20px;
  margin-bottom: 10px;
}

button{
  font-size: 15px;
}

img{
  max-width: 500px;
}

figure {
  text-align: center;
  font-size: smaller;
  margin: 0.5em;
  padding: 0.5em;
  margin-bottom: 50px;
}

#enviar{
  margin-top: 10px;
  margin-bottom: 10px;
}

a {
  color: white;
  font-size: 10px;
}